<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aes</key>
	<dict>
		<key>cipherText</key>
		<data>
		a6uQm2Oaw1FssT5d52XJGfbm+0qQF8nJOcxvfvgZ2KxhhuMtNR7VXD8Fiozu
		8wEg/BgsO+bJOtjxYbtMzPCs3YqppXpuDaRa+CP3QFvSkTVhBvGpblKydCyf
		YTjythtPcBnxj4ahGxjY9SzB5lBc0vcOekA9dsGr0mArmhW4XBngLvRKfgYO
		oG482mfEyMkh9Tqeuh7g3MpWO9nl1bS/kxl45IDiJw0pt6v5SvbdjIbctipg
		SRg7RqZXAp4CamU4K7AnT70gTezwV8ll2eh21L90U6fGFY+dHKLPWWaUEoQ2
		XbDVzBhTayRt2/2ITrZCkPd7ldIfMQBKKnY29pc2NRhOKDere7l4eANk91kV
		ZrW19vN0ejANYAJRG4mivo8c6bnfRExwPr0nRYNgedy4tVmwthw4Qbm9WqAt
		5Kn8JBBTPbbZ6bwggoy2LD6qjbQlh4wsAz/37qADi+/w5bNf3KPardTRLIun
		tr7BOw6IRbAStux1xsL7QabkYQBmkDV4GbuoUg/zGksw8MkqKeXpfqAkzugf
		6X78pFb0E05j1DgF3GJRFQ5Vu7E0o9FH6dGKJpfFVpB93oXBOrB9zUZUi5u6
		IO7y/WGDgf5hud4yPjVmrPELI/kIvlThEdbYLKhe+v2ZALG9Hk6/8l/uA7Me
		pQ41Xkhr+F0hwNaJRpg4iY2kd6eGEEiqI6+9wZeyV+GZrRpsDjedw9Qd4u1x
		MovQ6zUhrwQgMBl/KpR1BOzY5Qf+td5NwPSiG+jIwBguYshNC5sBwq2GDqBZ
		TGpARga5ziZHFHsV44pHfYQYDeau0calYm4gLSHTam7sFJwLo1KhodTWynNA
		g1Nzc5Eoi+jJ0sU0UQciqQvaSCyzJZKzmP9ZK6TuynWe2N53kIiLAHtOShck
		QLktQTb57nYS1zSY66PvR/gcnu/mSI8jlQ1w/KSLYRHTE9JsZO9H+UGhl4FO
		uXrj+n9N/NYc0mZLWcUYvDb/z2XA9hqk/2uK2BESO5qURGkd/eZrCkhVKr0q
		w0EExnWztoaC/tM/JzMm0h8NmAZzJdwvKtbv0MVLv0h1/6vn2e7qwidx0Jl/
		ti2H2Wro3VrGahbEbw72N+2icC6FeVM3K3y5ImVq7u58OW8sYmPRFLnx21YE
		mmwjGEDzdH5mxtZWBLb5HoFr6ld7tdrJJimUNzpMsOsyJjJt4CFiMlkw1yaX
		9D9S2q4+joppGKq1bPHvHxBDI6eE/1w3H1W1VvWyxvfjx/05UgNIV56KgFDd
		Tu/svKS2BYoHoQJeDTTAYUrQN13KGG2nI5g1XN/DYpOerEu3qSoTDzyffVBG
		dTtjjSlPOd/a80gOg13ylspiSNY1onbATrF6VHIO2WQgjD1p/hZ88TKbjh3E
		K1I76gGwlPoYb6mx9rYiFOUzL78ISJ8pDeM7UTYCuEeb79QS+fYQp16T7RR+
		wPo5puTBpL+JAjO/i3JnAedpJtHiHKVXjiaATt9dr7td4n9QptHHja/bht34
		HODCcXFb6FxygwwA0+BSjHUjKE0ntKkbtZT0+t/VG3rGmLDwv24eZTts5prq
		sn0dggAlac1MXHPeqTs2c/LgV/D45/sa74jGT2Os
		</data>
		<key>iv</key>
		<data>
		JKy2n8iKXxiURz827GE9Kg==
		</data>
		<key>key</key>
		<data>
		nH58L3mTIAvacAaWpxB5xhn7vnaJ0DT5
		</data>
		<key>keyLength</key>
		<integer>192</integer>
		<key>plainText</key>
		<string>n the world, the Thunderer of the scene!
XXXVII.
Conqueror and captive of the earth art thou!
She trembles at thee still, and thy wild name
Was ne'er more bruited in men's minds than now
That thou art nothing, save the jest of Fame,
Who wooed thee once, thy vassal, and became
The flatterer of thy fierceness, till thou wert
A god unto thyself; nor less the same
To the astounded kingdoms all inert,
Who deemed thee for a time whate'er thou didst assert.
XXXVIII.
Oh, more or less than man--in high or low,
Battling with nations, flying from the field;
Now making monarchs' necks thy footstool, now
More than thy meanest soldier taught to yield:
An empire thou couldst crush, command, rebuild,
But govern not thy pettiest passion, nor,
However deeply in men's spirits skilled,
Look through thine own, nor curb the lust of war,
Nor learn that tempted Fate will leave the loftiest star.
XXXIX.
Yet well thy soul hath brooked the turning tide
With that untaught innate philosophy,
Which, be it wisdom, coldness, or deep pride,
Is gall and wormwood to an enemy.When the whole host of hatred stood hard by,
To watch and mock thee shrinking, thou hast smiled
With a se</string>
		<key>usePBKDF2</key>
		<false/>
		<key>usePadding</key>
		<true/>
	</dict>
</dict>
</plist>
