<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aes</key>
	<dict>
		<key>cipherText</key>
		<data>
		+B63b5Z1tw+eJ4LX5MEL380B00svrUckNUhHgDaRco5FdvuF3OvbF2fPCzek
		rA3t2O3G2cg6RAMbcyvi4S+cY4j9cAikVWipPrI+wB/0PiMRNw5EZWMcP/ta
		Npm8rMHKdCH4RkcLegD857ByVvA6Pkbry9p2BZ4UWSzZcqPmEmYU7jDtKr6r
		HU03aGbQg1gAI6DgSqyvYHkwLiEaxLFkaaXwjM8czNkvaKRNPiFKBXre6OoK
		mYFn5e0rI7lz/H6JEhL9WJqGZrjlS6r1GvpzhIVnjUBP5h7qp3Nrl+9JB1Mj
		G/6wKWRC/r86mLWghwY4ExmatIPp7mfxrpAMIeAbnnD5iWGBe5QQ+rRpKOQI
		YT7eY9L67Re9QvBw1YsUALiqEdnhXjGriqcEX/hoWYDD7ySc2jKyqp3kGaRM
		vcTREKZyu2nt15xf0HVnnFgx3QFq+FavB+sgwtrXouLafDbc8aKRDzhwGC2q
		qcRKAI05AVV53JnU0YxOmBRY6gFy6gxX2HhZ4Ff2HgrvdXx02YWDO4ZO0SJS
		Pdaipn/x/NJiHIsB+7eB1rnq0oFqjQFCuj0lDj7vwII676rT7bQXEhqi4COZ
		AXMzVzutcDdAWnS2zUv6C96LPGeYOEm3I/zflQLig+9aZGC5Uuknnib1TKwV
		/H42uMiXjrYN5+7R4vLRgKRK3E4S4hCi8iv2DP4AoRt0Tu4IQHmlyYIwDQGK
		F2TniJrg/OXjsb0aqTq6aHyGjFANdTfULVDYw2jTtxUwGhRCu6esK2qNUVgG
		A2a+qIt3+jSkmi+ZaZraVtJhingmZj8u3SexmkqFiqf2/MxwVGQkOVMZDQky
		HLg9WLnFLg2sihDFi23cgFgUA5sljvfQQdSjuozHIC7buDYYF+a+wSm5zYKA
		R2kfh2BRtjGLI2HpMuMzg+uwAYYuhjFjAmE4DWtg+yZ10AgWTqKf/nAXknqf
		dDTn3gPv46KA4Msf7qNNaBsgQKtwZ4TqSf448/JdRZC6lkNLWOLItOcODv8/
		MWOMLktppx0KLBEFlHRGfpHfjy6pxlg6A4j6nBeBLW6H/8WOcUBDdBL5WO+a
		9zdu+XN99Rw3MwyEPRv9Jq0tEijrwpf0LoPjl0p6e7ZuwnAvMO5HzpSyEm+J
		jEAEgqxUDI7o7cff8naDnYx9fFtlB/7c+90Gm9htQIx25Ggztup66CvqsLM0
		VLkLyF8BquloOoFMOb/JjO7eJWH81klMI3YcRIiAWIRF1BvW4KnX4zkfHpc6
		j1calEaUzBffPi0hVhIER+LZyDzdNQOz0Pm9c9VL1mLXxXtpu9kwDdYLt6it
		9WIi7KCBwPrXTsGUgMqUuVDygR9k+8bWSG9/ysnsm4D1c+QHudatzalX2I2C
		cKxo6ABFDRtW+90MSQ/hTBdXgKTBiKYFBQJvgKOeMlPminM2hCK967QYrpaC
		HnaTuFtnd1o9BYwrgYi56bymgA/r32Ub0UKecKzQmOEQY9M07aMFq2Mhy/0V
		NmOJIQs439Oh9kbP2m/942Cu0fzpjAReWuNwbZBSxKNx3nr96WeSOJgMKq4o
		BCqjSdq1x4cg8DEVaU8J6+n9HJw0uzEJI2HvwVou
		</data>
		<key>iv</key>
		<data>
		jTN3jR7ognKG2jMfHYnFrw==
		</data>
		<key>key</key>
		<data>
		P4jvJdFRCkvTPDC+5OfqoQ==
		</data>
		<key>keyLength</key>
		<integer>128</integer>
		<key>plainText</key>
		<string>VIII.
Oh, more or less than man--in high or low,
Battling with nations, flying from the field;
Now making monarchs' necks thy footstool, now
More than thy meanest soldier taught to yield:
An empire thou couldst crush, command, rebuild,
But govern not thy pettiest passion, nor,
However deeply in men's spirits skilled,
Look through thine own, nor curb the lust of war,
Nor learn that tempted Fate will leave the loftiest star.
XXXIX.
Yet well thy soul hath brooked the turning tide
With that untaught innate philosophy,
Which, be it wisdom, coldness, or deep pride,
Is gall and wormwood to an enemy.When the whole host of hatred stood hard by,
To watch and mock thee shrinking, thou hast smiled
With a sedate and all-enduring eye;
When Fortune fled her spoiled and favourite child,
He stood unbowed beneath the ills upon him piled.
XL.
Sager than in thy fortunes; for in them
Ambition steeled thee on to far too show
That just habitual scorn, which could contemn
Men and their thoughts; 'twas wise to feel, not so
To wear it ever on thy lip and brow,
And spurn the instruments thou wert to use
Till they were turned unto thine overthrow:
'Tis but a worthless world t</string>
		<key>usePBKDF2</key>
		<true/>
		<key>usePadding</key>
		<true/>
	</dict>
	<key>pbkdf2</key>
	<dict>
		<key>ic</key>
		<integer>17652</integer>
		<key>md</key>
		<string>sha384</string>
		<key>password</key>
		<string>UuvTfeeSCGwwDhmlzOvQ2hTEI6Y9IQFc58S8994pGYw1PNIf</string>
		<key>salt</key>
		<data>
		CqeXsi1GQkMgGDUJ
		</data>
	</dict>
</dict>
</plist>
