<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aes</key>
	<dict>
		<key>cipherText</key>
		<data>
		cRtSNKUN1XHquUr++mggOG/d9RaPzsyLxl3kDcdMu+/5xy7AeTb0A3Ms5B4Q
		orw+qlyLcy9HZaixV11ASb2rb0nl8+IsPynkODstKC3Z0p9F+GVbUZ9hI5VC
		J6e5GkEX/p6H3Qz8T4WDyYGQc1iVdLRVy4m+siDCGIrnoDB/xyrNaxj/QQ4e
		uqNTSSaTGFk0/ULsi9bA060eXiZcyZOWt+VHBpkTltas7T4PPknBsCTPV4v9
		uSXX+SvuSqS605xu9scopFzJMq25BS4W8ISG4084dH3kLExcy0xArG9QV541
		pQCV8HJzV4EMbCvylWQXo3JButPVeTm7vEU0KgLiO91QJ+dMCzBTIxvPEean
		EhhQub3K/BjWkw1PovKFJBGMUnTg8905uqmCEPB5aKokPgoOtNhMNAtx2OaV
		T7mvbr+FmgJiF8euvM1UeJHzVF5G5H8K4DYLT49Qi6Az6a/8y+8oTOI/sk+o
		GCQUvQKdcUsJaELTnod900zHdiSjP2q97+WkgjmDDZXj0yIq9iHcvUTjL/9m
		ci0x6RfGbjlc8U9bYa6cbN5lUaE9IL8PorX7M82cR8fdT02UbxyKbbSbf2a7
		U8lDVeg/C2dca8N83ABb3r7RjOps8WkjAHL6qlgO7i82unEWMUNH4OpmsIBo
		6guDcYGNlJPDyMpWmdJSHk4dtsgQlE6qoBJUlf2ZxxQxUXjwJfqzXzFfGKzO
		cJQLtSVNUWm6wFFYCTmws9njEmsx1EYfnOt8OMDhWJYCIQLTeTgWyA47c7K0
		brMsm9JrY5bEBYl6o9ECOWb8e6aARTLePhqPLjIu8rQrxzpg1/JyLrbjJdOY
		gwYypk3WnQy4iQLCstb46BZlsy+z0rgpr1HlvUcp0HRVz0ErxTdOvR18nL5d
		cq+yS89bx/AMOGHECWbt4zs0Ka/4Tezz2gaQRcUKe73CnBToyZxP4tEZ1xTy
		Zp/OPXthpXQP1qcN9gZPcR1vnGbT9H3cf7CntcKC4AOkWn3zdv/TJ7y/9E29
		mXbqJ+Uua2BxGCkSu2Eqc0lRpjAap9tXRjuZ34/ACBYrCDx6pMgiWzBjzl3c
		lLdulObONYIlgPZHIKgNvZjqfdpDSxBrN+9mab+1fi8uRvqJFe5/O4TjGL7t
		p5cPDFeKWO543KdtHmGTMsXRJiuU4JQoz40yATcoaP1FTW7wo/WqrdhQ5cFn
		TXxh2ERiafwIfS8mIURyaVPiqHCnCZaqGKtUOvOE04124i2k2Mfn7Oa9aRxu
		O9Fl6+n42ipn6MGyMoWb9fMBwc2Mzxn/sJqn5kFBVunnIUtzDC5DP1ZTH5UC
		rmEifmzoBEwa6j2GZzGYl8pogFOcEbmN0grnVeXW13PJWCwYR97qxK6hrtzZ
		cG7KtnZ5ijSsqexm3/tpjKswoB7lth7jPmjtDYB9pfYeT5Y18pDhp+vcUr04
		s5VYYPzbm1YlOSWT2UspgphYRa7bAuf7vNS653nWxkUw887HkBpsfiRqx5H8
		OQy9tpm5lvGTgtApzw22DdbVMjAkmdACcUToXSLMfzteD/tpPmYnr8lNoHXT
		6ADmh6+Cf96MuIt/LLajKdi32jjsI2riMppIAdca
		</data>
		<key>iv</key>
		<data>
		mE2SWJwnF3xk/UzbYVgQ3Q==
		</data>
		<key>key</key>
		<data>
		VyYPROCtiBWaQKLuZTziBY3Oa3PzsC/r
		</data>
		<key>keyLength</key>
		<integer>192</integer>
		<key>plainText</key>
		<string>e conquest must be wrought?
Will Gaul or Muscovite redress ye?  No!
True, they may lay your proud despoilers low,
But not for you will Freedom's altars flame.Shades of the Helots! triumph o'er your foe:
Greece! change thy lords, thy state is still the same;
Thy glorious day is o'er, but not thy years of shame.
LXXVII.
The city won for Allah from the Giaour,
The Giaour from Othman's race again may wrest;
And the Serai's impenetrable tower
Receive the fiery Frank, her former guest;
Or Wahab's rebel brood, who dared divest
The Prophet's tomb of all its pious spoil,
May wind their path of blood along the West;
But ne'er will Freedom seek this fated soil,
But slave succeed to slave through years of endless toil.
LXXVIII.
Yet mark their mirth--ere lenten days begin,
That penance which their holy rites prepare
To shrive from man his weight of mortal sin,
By daily abstinence and nightly prayer;
But ere his sackcloth garb Repentance wear,
Some days of joyaunce are decreed to all,
To take of pleasaunce each his secret share,
In motley robe to dance at masking ball,
And join the mimic train of merry Carnival.
LXXIX.
And whose more rife with merriment than </string>
		<key>usePBKDF2</key>
		<true/>
		<key>usePadding</key>
		<true/>
	</dict>
	<key>pbkdf2</key>
	<dict>
		<key>ic</key>
		<integer>16998</integer>
		<key>md</key>
		<string>sha384</string>
		<key>password</key>
		<string>CutW5b3Bvcb2lyNTQlS0</string>
		<key>salt</key>
		<data>
		MqZ9HB7ZVDxw01rbQV7aDXBALvLgMkuoX29Row==
		</data>
	</dict>
</dict>
</plist>
