<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aes</key>
	<dict>
		<key>cipherText</key>
		<data>
		gqmiTXBozAbkEjsV+B9DXqwAGIxexfVzMJ7Yx6a2xXeH1UmKo62V03cNX9I0
		cJgP068Mg/MT37z6dACVVmFKj+46rykmUN9QXEfh+S8N+Qkzrk0+4XInzSdO
		9Wh8EkPlkRMyyEVnpGznR1N3wS+t06aWOSN1QefsuNJsNID44/NxIHxo0ki8
		Mn2wA2lP+LwIy7ti86m2pcD/9P2GHS8Asfux/HBSVvvns6XRo4ksV4YZPo1O
		kCUMNv8JAlvaZpim0qreMvpuSKTTM7qvzgAWUfKHWbXOmKEslXwdeSb59Wsg
		673z9waaFnsHgQ/GK7PGWeRSF55ag6P/3SNNZzTBznN5W7f2nQJExzqeFPnC
		ncXYFrrxBcyQoxtfU0seUJiFjJtc6ah69PYLNf1YfMyDTKF7WNZjN3KzAYpf
		LcJzql9SUyuqrFPh0yiLT2EZPFg/wYixlfeOt3swdf8nQ9XJoVeaRcaUzvVa
		RALRqEHTmgdi2vL+6nLRNuejhf+P0JgdMWRRUsM9Y32hWPwbPfIM9tmItW3B
		k5YsVN2vJ2OqsNjJHydUOgSeJyclUX4mJ1bX2pW+usiRly+S27Ji2qlMvCDw
		pgGZ3ub9zZ1K2Kk6HRMB8OaBVMwNZWRKhnOzUMfeU4yVNTDvt7QpSbfsyKYL
		9o0xyTlFuHGz3/Ovrnwqzrj+++13Ls3u9soAsjND4ysB3r6AfrMyvzkb9dPp
		x2ZMLqgpKo2LADdyEbiI7+Jt8RQO3aibVg6iQAWMDHD39VYKK/dGFgC4xh0B
		4NB4bDZyt8cMtzQEt2o7nBUCKxPySAj2S95NaJW5uCFSdCMz8raX0QbWaCVH
		2lHJ9D8tdkGpAg7BD2dBhzT1ylqNNsVG43hhbLk9Nt2W0O5PQcFtXqGIxr1s
		WYP5+2amxXNwW6S3BNZibA0Xq2T+2qFR1SMQ0eTz/3+rz9xgN2zwvPb/yXyJ
		5peDIC9xNMFuQMm6hLYs3rVA3ECdl2NQCzN8R3p8wpb2go9dM5CY75F7hBOM
		qkdML+wc2p/WOnRebsr1Y0P9n0J2fEoHPP8l1ffLjBiAXUYkfu8pMl3Krq7w
		OG1aCFaYcYg64Ju7DDTNQ0TtTFMmQFWUZjHnnPZdTge0+oTQWeULplp+wyLP
		PWJKF8OsXW1+LtTbBVPNXneXl/NSANQ1nGgKqkKsYxCO4MxFD6rn+XYqHfj3
		KW2xLTbt7a8Q4O+iqebD12kCIaHDle6aZ/x3SVugfNN6Yw7hrRrRCOUU+ZVC
		uaCRtKHgyrgiiDvUZ38CtV9m94+vHzJPRjZ9AQif8rQ+1nYXtoSzw1Ha6IKA
		SMragLtUW6cQmhuyrRROm5lo9Y/qwAGf3fgCr5GDJr7l8tm9VBrn5f2H0iI6
		LBrExmWI20f+dKGcGIGvHQSsMpZ+Hzozi99GEwcGC46j2DVWFiJ4i5tzAIGK
		Og7uV5pK4jNsSgZbYQOISdy62JRDICcGJx7BFPCDWfL4QsnvGEVQlYMzSjY2
		16xflwXmU099clddFVfJbChnu58XtJWINZBvt5CZLgFEPPruofmX8A/fDg==
		</data>
		<key>iv</key>
		<data>
		UvyXXd+br7DNaQVerCf5Kg==
		</data>
		<key>key</key>
		<data>
		tfBucn3AEMZG9wrdTgCEQeZ2XkHJxT17
		</data>
		<key>keyLength</key>
		<integer>192</integer>
		<key>plainText</key>
		<string>tal resting-place so fair
As thine ideal breast; whate'er thou art
Or wert,--a young Aurora of the air,
The nympholepsy of some fond despair;
Or, it might be, a beauty of the earth,
Who found a more than common votary there
Too much adoring; whatsoe'er thy birth,
Thou wert a beautiful thought, and softly bodied forth.
CXVI.
The mosses of thy fountain still are sprinkled
With thine Elysian water-drops; the face
Of thy cave-guarded spring, with years unwrinkled,
Reflects the meek-eyed genius of the place,
Whose green wild margin now no more erase
Art's works; nor must the delicate waters sleep,
Prisoned in marble, bubbling from the base
Of the cleft statue, with a gentle leap
The rill runs o'er, and round, fern, flowers, and ivy creep,
CXVII.
Fantastically tangled; the green hills
Are clothed with early blossoms, through the grass
The quick-eyed lizard rustles, and the bills
Of summer birds sing welcome as ye pass;
Flowers fresh in hue, and many in their class,
Implore the pausing step, and with their dyes
Dance in the soft breeze in a fairy mass;
The sweetness of the violet's deep blue eyes,
Kissed by the breath of hea</string>
		<key>usePBKDF2</key>
		<true/>
		<key>usePadding</key>
		<true/>
	</dict>
	<key>pbkdf2</key>
	<dict>
		<key>ic</key>
		<integer>16446</integer>
		<key>md</key>
		<string>sha256</string>
		<key>password</key>
		<string>ho4XYx3JRwXKppuI1kCXgcdWvakVF7GVHz4</string>
		<key>salt</key>
		<data>
		91NGyR+al7Wc27M=
		</data>
	</dict>
</dict>
</plist>
