<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aes</key>
	<dict>
		<key>cipherText</key>
		<data>
		YH3KJ7z92J83DpESJyheABZehf6SMxbgXciYCZZXnYWWE+i1iZ1gTwI8FHlV
		XlOw3vdiHVcIeka/luzsMXtx9ynv0kwm6zorq2c8fNCJxH1ITlAih9jpaIgP
		7+Go2fLFx7lx6dgckIQE5t+ih3+R4iqzXkxA3r8pwp7OPk2G+vjauNmE14mO
		7mxR5MgBM/tVPQHnCHoUpWQojvTw4QdoMpSKwgaMKBeU0N/Wq0TBZTLcFSG6
		2RIBlHuW/4LP9fmLw5Ry8ha3esVzDi41dGJlBpLCNXq4UvCxnilTatYS5ZLk
		qauiz9qqjKPDvyuhNKi1cadfUP8+dwNc1LDM1wreHzltxne7J/kGmrNl/okU
		jhKNDMQgQBqKUi57+BhUMc20xHanYpi/HN+M9uk2iJyUouGfK3xWtQxEGo90
		FxqUx9lZNXMFKoTSzlggRlQbqlYcNhlD5eMtwqPP79q5FRagTO8GFbQIg2Hv
		cNl/tnb9M6/r08/PrcmmCQf4zTz2XwoXjy6F2RrF3RFlHWK6n2tyeRkpf0D8
		DrlpfJhmDbE9vU+ZmjnwNobILzRBB2K2GhNOcnTA5p9u9kbh0AiQMSVSmh/P
		KLNI+P5IHTtwBYHsFexPLNsWQhxk9VfJuVzpODnqYZA9M7mMRdIZO7VSieW0
		pUakmYzm2rwxEnZzCtETp2CFH07fx1Fa3xrqGBPmrJ8ygYuQXaFeZLzP6WWr
		tbm4zwID3Ue3Hbj7ky7KKIyV/JJQlID0PsThJlhDC3FBHAeTBPOMntuVJ5he
		yw7XYH4KtDURbzP0ayTF7rpg4NeO/0xON6zMHtD7589Zfjm4kPwS/pIETaU6
		ZIHcs+AA08za/m/qFhNx0HJs/zW8iApM5E3cgukXHTrXMdeYqKlQjY1i9MA/
		hM1FS6rhg47011jG67Bt0YyWFH7ROkUC3XUzQVBf0d/RB5o9cwM22EQiGH6c
		pmy+g2mgG938Mz6V70gAVicODf/byFfhjK1okwQYqztYL5e3te4DmNMiHX9a
		WwP9+D96raaqiYsQlQmgVevkPwl2UG5WyQXYkMhmyt2Ggo1OEGMekI2SO3Cc
		7M3+GRdlskHVIT1OffSyZIDPNB6KGVSDKOMjhvjCiwqHjrSTpt36y8VWN9XT
		hez0Jty5jH1gsw6g4YCC50ggjUIH4dBiB8rNubMaiE8vOrDzPQsOfULI+OJh
		3qm8tsud5fLW7NC2CQ5Hgd14lgV2RR8kbGOBbdFLRrAVxa99rWRnhZ6HIOdg
		JBzF90mPaTKmb/AMACqkS29O2DHv9t436RIxBBNDyrZA1P90GcC+RKDNk9Gt
		vGETu+KqrWvD8EZ8artHoZ2PQWGjSKC7Omh5tfThzoDVsgeO4cMVWLM3MO5U
		HZjwgxleT9oDOYnv053LqZWZpUBLN7drHU+tvTv8JtraM5g39+ZiZHpG9rKQ
		jvCFc1nLJtpy9bHwlpx3wLUfREmoybj4D80nxMenSoAn8/AS5pOV/IYexEw1
		YAvKplqxhCP44AD6qIVnOeQmFVBaT5TIFS2a
		</data>
		<key>iv</key>
		<data>
		+at3NID/MqSWVZsw8wRsLA==
		</data>
		<key>key</key>
		<data>
		Lw0XdI32+n/lC9bgyEAj0pSRcsHnYKOP
		</data>
		<key>keyLength</key>
		<integer>192</integer>
		<key>plainText</key>
		<string>e lone Utraikey forms its circling cove,
And weary waves retire to gleam at rest,
How brown the foliage of the green hill's grove,
Nodding at midnight o'er the calm bay's breast,
As winds come whispering lightly from the west,
Kissing, not ruffling, the blue deep's serene:
Here Harold was received a welcome guest;
Nor did he pass unmoved the gentle scene,
For many a joy could he from night's soft presence glean.
LXXI.
On the smooth shore the night-fires brightly blazed,
The feast was done, the red wine circling fast,
And he that unawares had there ygazed
With gaping wonderment had stared aghast;
For ere night's midmost, stillest hour was past,
The native revels of the troop began;
Each palikar his sabre from him cast,
And bounding hand in hand, man linked to man,
Yelling their uncouth dirge, long danced the kirtled clan.
LXXII.
Childe Harold at a little distance stood,
And viewed, but not displeased, the revelrie,
Nor hated harmless mirth, however rude:
In sooth, it was no vulgar sight to see
Their barbarous, yet their not indecent, glee:
And as the flames along their faces gleamed,
Their gestur</string>
		<key>usePBKDF2</key>
		<true/>
		<key>usePadding</key>
		<true/>
	</dict>
	<key>pbkdf2</key>
	<dict>
		<key>ic</key>
		<integer>14936</integer>
		<key>md</key>
		<string>sha1</string>
		<key>password</key>
		<string>aeMTRbZXozxbkHyWZPSBuX</string>
		<key>salt</key>
		<data>
		6yDuJOksJc3eBsB/485W4Dbg4Teo++W/DYYf
		</data>
	</dict>
</dict>
</plist>
