<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aes</key>
	<dict>
		<key>cipherText</key>
		<data>
		NfveWrF3BJs2dm/S5QKRastvKj1lb+iY0gajtzJMWIDcJKMR71Rul7VlcBWN
		/FXbzcHrp0KNa03OLoQYcLPnkiMgUfArsr7KjMqRaBeGs3JI8BORzcjGFuTV
		NovcJgPOjntItZKqHj9V5psuR13SJCwsHOXwjSUkiYTwgsiCsVgTzRj2ETOW
		nFgHKZqEwTWCaWMuetNL0Ff42UMjYoLXpvlXyueskzt5cAKN0yKgBlI39jCG
		OGsIHUe4OeLtef9498c7qrajvHk36QHK1B5x2u3tVug1Wji91Di/53z2MOgL
		r/Ow0/Uae/WmWdLmyM7ohF13v7LbPeH+nsooPvPaCBjMD0PK22WiyBL99ghl
		/cb5oVYmCqKLcYJKFIvQm/DX13cJBHs2wdQ8r3hBfWf5pR4A0PpbYzmmhbu/
		RFBUZtnjF4kKJw6f2G8xc876J3PpRCdI4aOhaRW7its26Y8HWQ8xo/ZVmdO1
		bKiwwDyuK0tJ0nr6lnj5qkmsN8hQsgToTWCe2LuJkKoNbWmyEW/+xxH+G1qH
		slz78nvljtGpAsKyXJBhMB5vBIvKV6gbSTnUbxWHI2BKXP1eL1j+tbhd3JIv
		Sy0dLJSUqgKedPAB4VO4d9mS4wJ58pzvrSd+a4I90BUJXIkNXmDLYE6tsZGx
		rY15+We0nPLh8gitdZ/y0SilxOA75l2xL2Kv4ogb86LE6lVjTeD9P/3ubl9m
		vq5JANTRitk6EJUsCJ7EC0iIFf8kTbgKvQxn6N8IedATTi2et1+ISxHS/mO9
		w0Sv0YOp7MbCgNpb+vJeoP6sXMIo0s1DlKc4QyEyWPpXmrmoenuOkrJCUGvu
		WlllmuVtp3fc//+n/Q1zQu8POA520JpN5lVb1Zl+GX8ATXqDR0gIUQz3svTO
		HTvAJE0/Cudy3W57cTdzP4oAV2kyHnndn+1SGiYAZnbpNyLz0nfaXOKaOmaY
		l+XoPOlNvri34+IcasjQ5MjwUr987pVb0mNcSuJH2bK0SujMt14G/+9lq/AH
		ur4EFv8oZ3E2xyUtJ9W/Ko7xpASUninXXaWrwBhrxKvlIRonH8I7vcvD3M29
		E5BA5PqiQ/IACw7akpzczOiPdT1VMVFnEjUN1xCTKnKtK3L/JXay0SnA2b7U
		HB0Np6/OWs5aCeK6klE9zmU5jJO7XJjN9VX22+8t1YfaokIQnuZLAJkx7h+B
		b4W+BPRr42JlvW0W14ATI+Ys3mzoEcgJx88ljmFVC1KyXzYEhoG/4AYse/nc
		aq5RZhqKNoyklr9wcKkw0G8yp7CoEKzMXJMKW5R+GjqdUnYQqMDmnVTxG5CU
		MrH4hhGdwgYfnpe08ZG1IAFLIoxN3DqB1d3b/11QacDQJx75CIe5/rsP9sVX
		tsBpfI2zhgWeToFikphCjT3X8bFJGWYZERju/9U5OXqmJ2XEa7hxj7HpEUOM
		kScOAXmwsDGAI1KJYZVL4BAU10Hf60BpKRA0k783XZHxmYTS4vRHmA2mTymP
		1bqwJj7KPdqtynpzNeWdnnQYGA9sVVs54uE0zWSJcGySBjf43T3Zhg2mVGh0
		IXDQDhEl21LFShhkUTSutPwF5TPVxsPRapMnkLUW
		</data>
		<key>iv</key>
		<data>
		Tzi5Wb+iopo/xMKcn8gc+Q==
		</data>
		<key>key</key>
		<data>
		gKO3oHfmQTuhu+pgpn2YveSxmwSK478IsZX0f3wrQb0=
		</data>
		<key>keyLength</key>
		<integer>256</integer>
		<key>plainText</key>
		<string>shelter him beneath their roof,
When less barbarians would have cheered him less,
And fellow-countrymen have stood aloof--
In aught that tries the heart how few withstand the proof!
LXVII.
It chanced that adverse winds once drove his bark
Full on the coast of Suli's shaggy shore,
When all around was desolate and dark;
To land was perilous, to sojourn more;
Yet for awhile the mariners forbore,
Dubious to trust where treachery might lurk:
At length they ventured forth, though doubting sore
That those who loathe alike the Frank and Turk
Might once again renew their ancient butcher-work.
LXVIII.
Vain fear! the Suliotes stretched the welcome hand,
Led them o'er rocks and past the dangerous swamp,
Kinder than polished slaves, though not so bland,
And piled the hearth, and wrung their garments damp,
And filled the bowl, and trimmed the cheerful lamp,
And spread their fare:  though homely, all they had:
Such conduct bears Philanthropy's rare stamp--
To rest the weary and to soothe the sad,
Doth lesson happier men, and shames at least the bad.
LXIX.
It came to pass, that when he did address
Himself to quit at length this mountain land,
Combined marauders h</string>
		<key>usePBKDF2</key>
		<false/>
		<key>usePadding</key>
		<true/>
	</dict>
</dict>
</plist>
