<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aes</key>
	<dict>
		<key>cipherText</key>
		<data>
		732NlogGhLoiEtk+dQB87hfyNXHawGtt1jahYAx7h6doAc9jq+4pkp7Alms7
		XempYNxHice3Mnq9cgyj6cUcQya2ye3FgBp2NvQzLapyskrDvfQA/65qzn5S
		2g6eHqj6XiKBgSopYwOfzphF83Ki9GquiaUF1cDXSBl4Kbfgs6+OT3pSVgPc
		i/Ups7W5T+FCSGHKA1vxveEVQN2mZ88iAbaD1jIP+3fgqdHv0WIXPRQ4iB57
		c/eZls986TjXziM4WBWl+uABo2QExu56p+cN9fL8p+Zbo5YQax/gIYPvBsmN
		XDmUzvwXodYgrJpyVK6sf/ptdko++u9+u+Fs9hX+OhroJ8JvibRsReDWsjZh
		3HX+/UVANn7QRR7VsLb8NzArMx5ylgk8EmFNOrSkIFWOThOtQqSk98RIQ0ci
		SAySy6iUK5Slej8zOYgV+JjyJkMqnhNp09YNAD31AsPdn+8FthGxPnNHq/4d
		uGS3p77wVXc8d7prgtGvtHv3ZFEBH2wSCWC4OMIBaTite//DENFBnwHwWkdQ
		mhv0UVLnAm0AWbzPYENTZF/YYsZVXALbNHx/YW0mh3wQQoQ5xpSCKvUayGNq
		l437fAdZSTKLPb30DAsEgRhwizy07a1UARPuE8/K3JGr3VK3FpCckJtjug3u
		WbFOtzu+MybcIkuQHa1SlMebnX3BtQx5qgYSmELeSK7JogVw7rB3qhyZrulh
		XR3if7dgKdH+9bcKEJ2pJnpawQnEQ2qEeMmKbM/hPu0dP4Ew6fveN1H8X/WK
		9avajQHC8ffY+CQiJ1GU1NLXnmTHvmhFk9f/PKuyPW2tN2vKKZzY
		</data>
		<key>iv</key>
		<data>
		IcT3DDKEmnqBEVZ0WDFMCw==
		</data>
		<key>key</key>
		<data>
		y54i5yCZmlSft3sLSJ2F1GJP4ZMTPa7lY4IfAySv8Bs=
		</data>
		<key>keyLength</key>
		<integer>256</integer>
		<key>plainText</key>
		<string>nd her Sister meet,
Deem ye what bounds the rival realms divide?
Or e'er the jealous queens of nations greet,
Doth Tayo interpose his mighty tide?
Or dark sierras rise in craggy pride?
Or fence of art, like China's vasty wall?--
Ne barrier wall, ne river deep and wide,
Ne horrid crags, nor mountains dark and tall
Rise like the rocks that part Hispania's land from Gaul
XXXIII.
But these between a silver streamlet glides,
And scarce a name distinguisheth the brook,
Though rival kingdoms press its verdant sides.Here leans the idle shepherd on his crook,
And vacant on the rippling waves doth look,
That pea</string>
		<key>usePBKDF2</key>
		<true/>
		<key>usePadding</key>
		<true/>
	</dict>
	<key>pbkdf2</key>
	<dict>
		<key>ic</key>
		<integer>12590</integer>
		<key>md</key>
		<string>sha512</string>
		<key>password</key>
		<string>03POMypWcrwCRUbTyWvkNfumRUOTdCP</string>
		<key>salt</key>
		<data>
		7ULbtCBtYzPcH4PT
		</data>
	</dict>
</dict>
</plist>
