<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aes</key>
	<dict>
		<key>cipherText</key>
		<data>
		kSlURTjeYmrvF3FmfExFcdoLsFITom8zFqforWBVp3hpUafL4J3Yth8OKVPb
		JdqP1x8XAF+8HE/APaQFwGOziDaL9QZ3y8b9zmzDn8PRiazKE5Sqnp+KjbOB
		p0zsz7gTSxy9JMtGMJ/8e8PGP0/NtP1YCH/xK+TlsoeijCITDvBB/MPTcIEB
		uHe2NHD9Z10two6ni8DLdKXrpEqznn1EF8vvI4W1Z5Km5lWXelrlPwdAUf1k
		fyN9nYLUCNoaINjOKZqrsFys7AF2Ol2pbNQY6QU7GcwYty/bVSeWJqNFCecv
		rUWgaWWQG14ix5nuPJwBZznZYORv6h1FQ4yx11chS98c5dm7/kOeXm4z5j+M
		odWMMQQ9sVoeCWMzvaeL/3npe+XS/9+ysc1gdcihIItI6Ia/zBx7ouEROZgk
		uzzfoAZTV658CQNv0Rxzs6RfPrJCCXGfGCAJCxmoX7YnmAXF9LjXUjTO2XKP
		gHHLt/Z+Jj75ceixw1ADZAOGHHUlP2O2eNMRayPp5rOMSQaCMzCkKLKfD92z
		KGthS9oJCZ1pR9bCYYMm1dYMcM2tsw22CdS/gIjMcn0YLdW9P5akzCXbF1re
		HO2wVpCJIRLeFohE6D6lk9kFjF0x4A05BosOZJx/AxJA55IEaib4CNP+dzn9
		n00apuOyz6242y/vMR5WFd2devpnXofdHZSpEqyzvvj7emejlc4rlBat5SCH
		kznFSve5mWZF1JuNR3S7VPpTEeDVuy/qs2xqoadvV0zlFMRL5EjJCzf/s4KV
		uqlObu1FduFb9E3ziPRy16GftHmtcSqqQUl6d3R0GOOqs25YjMCeEu49Lvyz
		2kIc8BrFKfcB6jHMEN/yC7vavCOJycc10fWw3fOkuS4t0p2vvXpUHYo8M9Oc
		ejFcH88AVeEOTG5mPBFQI16MEXrmEm3dRGEnudpiHUDVq85z8S6rZdbRj9k3
		tDVrWcojzC94fQwAM4smpS/JD50HNB8mV3pV1Vj9sEqmUcceG9ucj2veUNFB
		5F0SuSxo8nVLYTYWtdufU33anOfJaaz6h/G5MSMY3+WxkJOmPoNm8GLiv6q7
		kLB6fMgotTz+P6lfmq5Aop+7qYZ7KeFbYT7P0Og+Oz8wcAZeiY2vEmr+9qPK
		j5tmZH7+P8Kxjr9XgkipnCPHHRXOUwXyUomCB++88Wjoz68NaH4exlz3v5Fv
		fAQnWV0U2ZXmlNN3tLhKtIpMJ7HihRs6Ppjo74HyhLQlpJ7/XQtNNQGXbnoL
		NpLfw3mShq7rxXxRY2ymJQ31JB3iIgyH0mgUMMOhGNseOBZr0bK6Bwss6/VO
		BuhkC6vzP8S0AS4lzV3pIFcEJu8VhnS3e3dsjJKvrtsax2nXsO2SA41cAp+J
		/h+qVbUVR9isbzKI2WS/0bOSKk7sj3JzqaXgO4AuyrxuHWR9WXbyetAqX7qG
		g+Fyq0caQwk5WF0U1lpkWCQulTSIOQDy5LdRDVDqki1SAI4lNucFFB5QtmYJ
		UUAPDOQZk6LiuVFyEQpgPHqT0hB7MWgXcwP6
		</data>
		<key>iv</key>
		<data>
		5jEwvE75EuVXvsbAevjrdw==
		</data>
		<key>key</key>
		<data>
		/GF6gwaZcZIinBc8iLgljw==
		</data>
		<key>keyLength</key>
		<integer>128</integer>
		<key>plainText</key>
		<string> brow alone had worn before.
XXXVI.
And Tasso is their glory and their shame.Hark to his strain! and then survey his cell!
And see how dearly earned Torquato's fame,
And where Alfonso bade his poet dwell.The miserable despot could not quell
The insulted mind he sought to quench, and blend
With the surrounding maniacs, in the hell
Where he had plunged it.  Glory without end
Scattered the clouds away--and on that name attend
XXXVII.
The tears and praises of all time, while thine
Would rot in its oblivion--in the sink
Of worthless dust, which from thy boasted line
Is shaken into nothing; but the link
Thou formest in his fortunes bids us think
Of thy poor malice, naming thee with scorn--
Alfonso! how thy ducal pageants shrink
From thee! if in another station born,
Scarce fit to be the slave of him thou mad'st to mourn:
XXXVIII.
THOU! formed to eat, and be despised, and die,
Even as the beasts that perish, save that thou
Hadst a more splendid trough, and wider sty:
HE! with a glory round his furrowed brow,
Which emanated then, and dazzles now
In face of all his foes, the Cruscan quire,
And Boileau, whose rash </string>
		<key>usePBKDF2</key>
		<false/>
		<key>usePadding</key>
		<true/>
	</dict>
</dict>
</plist>
