<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aes</key>
	<dict>
		<key>cipherText</key>
		<data>
		UvxagmXBYPnuBEqt4C9jz6PEV9zVY79GdT/bR4x8EXC9YzpH/4TKzqebIg/M
		hcHP66o1AptorZV+o/P6UQ9tECG62E9tQDnmzVeWvxd3Ku73KTMw+3mXv7aa
		zqBg1svaOMPzfEnV3FWL5j1m8PtjA63VAi+44MZ+hflr8HunH9++3jnYo9Ke
		XZ09/1VmMxTaI6n1C5J5uYbspzOyKVo/a9bKy0+OzfYUlJtBQp/2/2mbOwdN
		KTrCpPTpi902bAeT1Srw00AWeE2EgHEWis35HFyxuHglRA5Mx+2BuVh6m23L
		qH4pmFSOF8FIqKgJN3v0b9JRBtL22t+E96nM5sQjj0aJtCYWGasqg3LFYMuL
		48TXVfwT16UkwZ0A2PBECKYrsPVTTM1UIUPCSwL4abAHBsvQmr3GuoZWKKFd
		drpjLxASp32y5WCIs4LOLOH9pgTJt9kRB73mOR39Rf6XybyYOjvxMFHgdlDM
		PlNMHv2QKMAxqLxo+9OF7K5NHsqeniDE4s0M240QPXyK/oCMngGM8u/XiteU
		zGTksOQjTgxXxsiFmfQMnHBRuD9Xc+eFYekfWN1qt7R3EtLq5fT6K8rjQgo/
		nnPUnW8Xa7UAjDSFxpPHQR4DrYQeAQuxQlORU4DBCAlWuh2/HSv052UOvGyc
		6vIZB/nbisVJig0lx8l/Cxc5luECawkzCbmuO+hB1RvVx8DjqKTK0u+q1XvQ
		LpLDX1L04OFdMRLeItyt7PSGj5VQxispgt6UgSZG+O1a+cEc7gb9m32+MiOd
		JtZlsQmEsw+KEXK0QiOIHpc+XLybKAtCanUd1O/0qklgHEgZzY9ibZqsGEzS
		S20+X7Au9lQy+xCK3E/MTN8pvGtaYGRsMAiC5kejUf8BUTqd4Gb616X7uK6z
		y/hyyCked2JZWdGEcaSSj9sm63/tCMja0oR0toCPWE6UnO0cyVbCJRNOwpsf
		6S8JI9uJjqltEvAmWprpnsWF0DMK5uJzDj2YtjxF4WNdGG3JAVcTwo4y/DNW
		kpOo2OL9QTsGoYSp4QXDlnUuLTF+ZHFmVGvaI6A4unTJzmdXeUqX8kkoHp3v
		a5rSfWFFPsTqnzR+YXbA7tk7peIQnGuOm4K5Pd9wt8kMMFt8S1D/69psBqHu
		DuCar0eHrtHC9T1ymZF1yBGurUgq9ccUggH+D/7kA/AwkYHkBbwrXYBtBnUs
		9dBxITZ2JDqSmQq0nGU4XlNMMt02o5tO6eT5oIRdgxobdSCetERNWRYduDHD
		J1MLO+/bUc6ACD9wG2yTwiBZ4X4Gz9GX1v7cayxLfSjB2mde6gf+1Zy99DFF
		DnG0JYkbRTpMKwaeWonYufxdFYa2NKLcq8MvJTS0BAIFQliZ3guXBT9/Ou/X
		8/fJ3WWK7FrVLkCPmG8dPSL6lnVPygUxxiMoXyJBkLxUJE3TTtWgyZcyWlWl
		I8smqYRbKYLlJ+L1cefoIOE10W/Ievgbe/FH6VP+7snG1aMlL36XuJ0rYIQT
		zuGf+r1L6vR08opnJcY1x8ePgDxQwg8TtFhwXGlT5NIGosojCCMIdVRE1LVC
		tM99alnJUb2k3K3JtoQ=
		</data>
		<key>iv</key>
		<data>
		A/QbpcRNPh+OxV+pHNSQNA==
		</data>
		<key>key</key>
		<data>
		dTrPsg2QMvZEDfDnfI5sGxpfXPxIzROV
		</data>
		<key>keyLength</key>
		<integer>192</integer>
		<key>plainText</key>
		<string> docile crew that skilful urchin guides.
XIX.
White is the glassy deck, without a stain,
Where on the watch the staid lieutenant walks:
Look on that part which sacred doth remain
For the lone chieftain, who majestic stalks,
Silent and feared by all:  not oft he talks
With aught beneath him, if he would preserve
That strict restraint, which broken, ever baulks
Conquest and Fame:  but Britons rarely swerve
From law, however stern, which tends their strength to nerve.
XX.
Blow, swiftly blow, thou keel-compelling gale,
Till the broad sun withdraws his lessening ray;
Then must the pennant-bearer slacken sail,
That lagging barks may make their lazy way.Ah! grievance sore, and listless dull delay,
To waste on sluggish hulks the sweetest breeze!
What leagues are lost before the dawn of day,
Thus loitering pensive on the willing seas,
The flapping sails hauled down to halt for logs like these!
XXI.
The moon is up; by Heaven, a lovely eve!
Long streams of light o'er dancing waves expand!
Now lads on shore may sigh, and maids believe:
Such be our fate when we return to land!
Meantime some rude Arion's restless hand
Wakes the brisk harmony that sailo</string>
		<key>usePBKDF2</key>
		<false/>
		<key>usePadding</key>
		<true/>
	</dict>
</dict>
</plist>
