<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aes</key>
	<dict>
		<key>cipherText</key>
		<data>
		xIRIL5qSkvxiaCO3phNHvLlVbTRwCVqYSiaZaowqG18MIRqP7wAYcRRKBwnT
		4015gwaX+c2ljj3NFUH4dqW9Jz41LvZOgJynLsomo+j3i8pE8Ho/jyHJNox6
		e0p7YPZYo9ydAcCTqK9w+OIdeKgTPlnp1PcaL0d9Mr4FfeGx6TbW2hP7VD23
		lzfXrpJeAyhWnx3nfc09PB3gXP903RGjKqst1vckp5jg4JllpUiE04szbIG6
		2wOmkaMOGXMvmf0dAcqAZNCvRzZeJGuxHkI4x1D0RswnLqyyR+0SePSdDtfB
		TacBWd8dI6YuCkJx7TANDPVzzaJISkrnIFbieLSj1Cz2mIKtt+dLr3jIDFLb
		zgWuXs/Ewoqpzu73kAuAMUfxc5IeLWeteEFsc9kmLdkQsnEgaj5VZwpQ/x3H
		BoYQk2jsUfNxwnvGsWV87wm+3fpt/uAOjdmTBrujRSWGJv26a8O/TV+elV/I
		onxnUY0wcT1eTWyKWQ6frnUCqpTokmzeqToxopUbm9iIBzmhFMSw4ENYw2XY
		2sI5ICNablu2ox0SYTRWUnAAyZ+/iEA8ibSt+hfEH9mPjXXZLx78TjMMSQxY
		oZxOt/aCNM8hqR9TpePKmbPaC98Dq/1Viv5wihJJrTammBnVuNXtJUXYCFLD
		TAEucQm5XCCL4tw/0fCAs+xJmVV9+SP6n20nY0bdULedn7C0lN6ZEeyNll1c
		iEr1nJoK371UyCEgw4qLD8EQljohKw+zyf/Clxs0QdHYfog5gBZRKEoa+5qJ
		OImJLeITihE2LpSANXv8LWXT6lOQvv0dVHPt+nedTpPB02Tea+a4nx0VQg99
		Nuu561cYyvMwOMPBmPgVx+/yRnRAqGNk5BSbqYJ93XXZC304L6lOsyH8S5lz
		Vh0qOFFXaSo1Npi4k0g8n/rhdaaiaD6m04JI3fLvKMQmr9/mcT6QlwIlOSHi
		1mJoPP2CfjIbGzH1jfRgAd0RgNSXgq5xgIDajI+BtCrb1WraKd56L7Y+P4Bl
		TfSt9i0/b1/s15hJxcgBuGspvb3uw2ZEm2AimEE/RxJNUDN89giAj4Ndjm83
		LJiK1XWau5dNUzyRK6kOuOhWQ/OGRLvnbA3XWP4VtovuUJUy/ni9Ami0QLbU
		IBAeWT1wXfdnEkJi7SVJKeYq85otcXDesPsQLvfO0GhTOl80xtwHFDK+/OY9
		y560xLm9BmSIs+xw1R9zx1Drbd/tR6ohjSpxgVU9flxtz5jii4EtiwoO6ul6
		TyB9F/Zt0pmMdwsnkg43Kkb5q0kGZ6oiU4+gINMJyl7Wp1I3Ztnq/8znK1/C
		spR6ZL/z2DH+s3bUwhI8jtXibJWJbiI3OLOHhflg8/X0WxXNRG1YbaBJyxkg
		VrUOiReOh/+vuJFVc4C7o5rTseLC/GEf6bn5cWPtENaVWfvcg4kuCedDzkku
		pw/buexPP5guyFJ6+ZHrbLSukOxaG7rU4ApLluysseLKS8LAzIlLLhc/582D
		EMP0ChOleUk8Cu/W6y4d4XDZ68lf/rTSFP4JkM4gBCupl7qtjFTM1MOA21vL
		AlrpEF+AEzztA0G1Cmg=
		</data>
		<key>iv</key>
		<data>
		fosDNXci05Q0CAgaiXvTHg==
		</data>
		<key>key</key>
		<data>
		ldU4aRHPaXlY4QV2OTxECfEmKGPiMnWHUk/kgRW0erA=
		</data>
		<key>keyLength</key>
		<integer>256</integer>
		<key>plainText</key>
		<string>heek all bloom,
Laughing the clouds away with playful scorn,
And living as if earth contained no tomb,--
And glowing into day:  we may resume
The march of our existence:  and thus I,
Still on thy shores, fair Leman! may find room
And food for meditation, nor pass by
Much, that may give us pause, if pondered fittingly.
XCIX.
Clarens! sweet Clarens! birthplace of deep Love!
Thine air is the young breath of passionate thought;
Thy trees take root in love; the snows above
The very glaciers have his colours caught,
And sunset into rose-hues sees them wrought
By rays which sleep there lovingly:  the rocks,
The permanent crags, tell here of Love, who sought
In them a refuge from the worldly shocks,
Which stir and sting the soul with hope that woos, then mocks.
C.
Clarens! by heavenly feet thy paths are trod,--
Undying Love's, who here ascends a throne
To which the steps are mountains; where the god
Is a pervading life and light,--so shown
Not on those summits solely, nor alone
In the still cave and forest; o'er the flower
His eye is sparkling, and his breath hath blown,
His soft and summer breath, whose tender power
Passes the strength of storm</string>
		<key>usePBKDF2</key>
		<false/>
		<key>usePadding</key>
		<true/>
	</dict>
</dict>
</plist>
