<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aes</key>
	<dict>
		<key>cipherText</key>
		<data>
		PS2zrc10PicY28E2LK3yQetqZKNzrkQGbuDnti4w3/oIRfYVrJoaZuhGlCXy
		cHcKgFSkUL6zynde0rxIMc2ubX+FroSm4DI3d8ot8cgMhIG4qoMycNQZgXpx
		Z76DkGc7UGechgbA8xglzVAs8ISk9E5vl5CCypZtrIcdDKcm2FqkCCqYku22
		BgaDf1ErIY1RiMxfQMs0XhjCSdQzMb6Ov8m0YpBwRtPp9i9kqUAbGwqwNhXj
		07Saq3pGPyWuIJPfFOZm3+vSHcUGlx7TX8cYUTOlwz82p78nVuXn+nAwz7vW
		dvfXUs5vw/ZvNe7KVWq3MpFiez+U2YU8f3wJCYIWKh9s+WFhWbJcPmou56Bu
		eAWfDY6/8rJVs2lRcAbD0idPy84VYbIuAykUxju4NIcDckqbyAmYJfErAzcv
		RbXXVeMNroSS7b4G9xRlIqmwApLqWIpslvxf2Eg+b94sN34J/oN77coNO4iA
		ezps+cjM13bw7zA++InSArVeeg9m+gsDf45GU/HkfaQKtp9gWSdBupoK0woz
		uYBwv5tAdnbhLcyKVVIKWIARJeSPlqsIg4JiI2lULxJbGq+Eoq7SloYt4jzt
		OhHr2EZGmUPyaU29WXimRJg2ZKgRLJOszPEORzaiuZbwqAOA/d9WWFvADs8s
		kKmu4o8FgHRX3rw54mxcfWwdV6wkIhwZ4VVKTYzxg8ljo3dk/4vAH2JIWTS4
		GHCT6oVkcVffhEd/j1iyjq+veoDARa2xFvswJb6/2lKFpjVOTYYN8I3N4oMO
		JOHFdXHCIkaWfhP/4Lvn3lD4PCtdpl8rmBQ6oXsUg1hhAInPUSEycttPBrXp
		hxSrTRIo+cijS9FDp7NXMzX+PFB5kWAakaxnlepJZj6k0lM0pnvqbMvbb7EO
		TG3ab0WqEBbSEOpgPvokdDVJuRSUJD4HSL2l8yaOY5DCi6yzDiLReIDRqPj7
		dcIs3lN6PimL4p9sy7AglDbX7msL3QMDi80NqWd4BvTVoO4AmmP7Oj4E85Vf
		cN+RNNZJeaJdUXsSw3fefFpcKxTt7lDIuORZcMSNw5o3+ka4SkTGF6OUHcp6
		Qdf2EAjZwcD/CEcXvzoVYk5GdP9xPeOUZPwQVlBtvUxqnmfo03OQ3bnxgAWl
		MQa2jSLIJA5xzoJsrsmVfSfFxnLP1HX0TPsZFiiSlJ7KtUYwQ5x2s0vOIlsc
		JcWCLZOIjU27naC9BaqbUcOXgeK31SP0T9a3hUAHuzqm0Tpm7toDDpGgzsft
		CpwX5Zb56voxxLr3Yn42zMbzpxgMTgsxl5fB24rO2sElSYQP6AdyucEjgino
		tkfpbT52b3Pd5ZeGan4to2ChQqPI2zrj2/4H9AuSYEm84PMMhRFWGn/KkEX3
		8dtj9W0MzpQQBukV7tedmiXMjFb7RpoflxeBCkhZiLcvcJcE1lF9w/3uZ3li
		dxebBFEJxZkq0wCtH6jrFf+ciauIpClHLNHcxdzOwvvfB5tsKgpu67AYsr4s
		4Qha/Y1u6czZIySGWM7jV8PMvQ7SNbUgCs1mAcbqZC21IxWSISU08fdklQ==
		</data>
		<key>iv</key>
		<data>
		qzyvhEgelzfkrsYWOLn4Lw==
		</data>
		<key>key</key>
		<data>
		BU05Y1IaGBT/9b4W5cmTkg==
		</data>
		<key>keyLength</key>
		<integer>128</integer>
		<key>plainText</key>
		<string>re and more, and loved her best in wrath.
XXXVIII.
Land of Albania! where Iskander rose;
Theme of the young, and beacon of the wise,
And he his namesake, whose oft-baffled foes,
Shrunk from his deeds of chivalrous emprise:
Land of Albania! let me bend mine eyes
On thee, thou rugged nurse of savage men!
The cross descends, thy minarets arise,
And the pale crescent sparkles in the glen,
Through many a cypress grove within each city's ken.
XXXIX.
Childe Harold sailed, and passed the barren spot
Where sad Penelope o'erlooked the wave;
And onward viewed the mount, not yet forgot,
The lover's refuge, and the Lesbian's grave.Dark Sappho! could not verse immortal save
That breast imbued with such immortal fire?
Could she not live who life eternal gave?
If life eternal may await the lyre,
That only Heaven to which Earth's children may aspire.
XL.
'Twas on a Grecian autumn's gentle eve,
Childe Harold hailed Leucadia's cape afar;
A spot he longed to see, nor cared to leave:
Oft did he mark the scenes of vanished war,
Actium, Lepanto, fatal Trafalgar:
Mark them unmoved, for he would not delight
(Born beneath some remote </string>
		<key>usePBKDF2</key>
		<true/>
		<key>usePadding</key>
		<true/>
	</dict>
	<key>pbkdf2</key>
	<dict>
		<key>ic</key>
		<integer>10811</integer>
		<key>md</key>
		<string>sha1</string>
		<key>password</key>
		<string>AJKj7aK8iyVhqwJTl5YhFKJj</string>
		<key>salt</key>
		<data>
		ED/KMNN6q63d2t/KGrpBUw==
		</data>
	</dict>
</dict>
</plist>
