<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aes</key>
	<dict>
		<key>cipherText</key>
		<data>
		Oes4wwslgGnjL/guRzk1dIYwJOm0nlbjyVHgzbV2DPesY1NHFBtSGspWMryH
		VOO8jpjwrDX4rOYZp/u1hUq97SUtw/KUDD+OmMTnFsb9dXzRWakHzRmEL7zA
		jueaZxtFne0oKVwXdBjkrnWG3Q+6GuPUDycKfxN7E50amZtVubssDZGzV8BY
		KAzaL99J56Y9tVY2imXVsau9H9A+WaRQ+2Z7AtLqwqJxSlbCMPuUbZl5Tdeb
		9r+rvNrYV7TnLfekQsvAs/fbmfRGWytBUaMWURVtpOhu78nUMSBpZsf6Em1m
		goMok0EPS74CjqxV0QuDmVGK7QCqfUOgF6dX70DkTpON7pv9medlCNCqUQq0
		R0gLN90FZdS/MXlXxNsphtK490LAIpt+Wu6HyB6heOUtF3Un9ICNVZc08+Ly
		pBXQiL/49u2dANFHWLESkpAriZahFEn18EPHkXQzsu+nTeOO08AKOnvdsdKS
		72WoeBW7+GRqaTzLR3QN40HyC+nFTMkpp61t12OkJugchkQN74sLqwQv20AZ
		F7iTXijJNYCQ4Veld9BpU7s8VDSDysSUbxV1ADzmvxn+1x+7nx8E7040bASA
		B5eTaGpsB3dlf4KdHCs5KudZeRs+XUdqvLI5jO9j4lQGv1zQzJHkzenqRAcs
		1f/IocxXJve7SE/JWA2GBMewCyrMvVBVdmtwQWqGsOG08xcB3vMJuOr0fDhd
		qPdFOhGEz7ujxd7DyFLfJ0v5MxBvb1VM/g6ZOWN1UyRi8tSU618xF0o78A3T
		zvQ1D97tR36jraY2KTm5OZo+nfIb84t2vCM3vNaSYl/3NvJnwiTRaR+mFu1z
		1D0x6XK41Y0Zg/Dcjcnh9IpNqngakzf26XqC9ledmxSHL25g4P29fX/XYqWk
		KYRppWxt5Y5+MYj54CfvHOvcpC9PffZzIO/myVwdVl39+LTqic1DLB3QaE4z
		+W1uRao/IkqnRMkNyvJB1JVcH+Bya9pLwOoa16AFwjIc4M7dEZ1t0w5LEOyN
		30cMi9A25Bo+NfIgt3WXd0Xv7I2HL3DehvRxcyMASYYxVUWdJRPVG/o4KYoF
		uag/jN/mI8an7i0qwPx4CM9g/NpBJzSV+gwohLogEPJo5gZpeIPkoF74F7Pj
		kVcgSVmvc6sXSzqL09dp8rBdxZGq37+80vxazm4oGjy7i3ckQh7L96hsnwNd
		lIfX6byPebkTmomGnpVGnam4yBi4XI3xgUeJQQxTRhCtfZQzRfvxBIb8htdD
		uL+oUldIW99OBhleNsPgXZIdWq/pNOWZ4TztURCK/U7Ioq816X3RSX1wXftI
		wqblO4FPZCcAbLo4fhKPJ4ykSz1/x3Imi+W557xpXU/e5ipmyC/t8CRBJh1b
		qKxG/nzc+Tkcj+0Z8sIPMjIpUJAUAsjbpDkMDUXTlFbEcY9IXZruDhvWfACw
		H8euuQSuOBd8wFtRTPcgR3IdbyGppqtxp4D/ROpMuyWXSg3bgaXDpk7iH/bZ
		GhmAFGqM2jch77+mCY/lZ33Gyq/fPCijI9qarPQr/c3z4p+6a+a6Ig/fcA==
		</data>
		<key>iv</key>
		<data>
		rSA2uuhtPOCn78yBDAcueA==
		</data>
		<key>key</key>
		<data>
		SBKfr1n7UtjOag/XU1mJpJ0r3+IbLwHuhnR8QB2pxn0=
		</data>
		<key>keyLength</key>
		<integer>256</integer>
		<key>plainText</key>
		<string> as we give
The life we image, even as I do now.What am I?  Nothing:  but not so art thou,
Soul of my thought! with whom I traverse earth,
Invisible but gazing, as I glow
Mixed with thy spirit, blended with thy birth,
And feeling still with thee in my crushed feelings' dearth.
VII.
Yet must I think less wildly:  I HAVE thought
Too long and darkly, till my brain became,
In its own eddy boiling and o'erwrought,
A whirling gulf of phantasy and flame:
And thus, untaught in youth my heart to tame,
My springs of life were poisoned.  'Tis too late!
Yet am I changed; though still enough the same
In strength to bear what time cannot abate,
And feed on bitter fruits without accusing fate.
VIII.
Something too much of this:  but now 'tis past,
And the spell closes with its silent seal.Long-absent Harold reappears at last;
He of the breast which fain no more would feel,
Wrung with the wounds which kill not, but ne'er heal;
Yet Time, who changes all, had altered him
In soul and aspect as in age:  years steal
Fire from the mind as vigour from the limb;
And life's enchanted cup but sparkles near the brim.
IX.
His had been quaffed </string>
		<key>usePBKDF2</key>
		<false/>
		<key>usePadding</key>
		<true/>
	</dict>
</dict>
</plist>
