<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aes</key>
	<dict>
		<key>cipherText</key>
		<data>
		p1FOHz/KHpxMMy3DCNdujh5nCygPPvkTcjgPRfrngK2shmOSdOIle7N5T30+
		uljYfwHAoMWge2+9KWJiD1SdTq3afi0eWyWbvTil4wZ2o7O90dKrHOYkIjpt
		dfKNAy6B4dEKwfgLgtcl6Y0YsQpaFYeBeNcbXL9rP1Uu9KBnAm5+klKgf87B
		QFeSMAueSE+Rzf53bbe7A193yiznj8PQXo6AU6O+zsLvu0cR1wymTtqZnTqZ
		cuuV/RYufCrUbJc6GDMFt5CxCsxPUC3kTYI7VdQuLpQXxf9GkjnlSpYVLtdx
		gcDjiL/tVMQ2OppJvBMGfhIlLNf9d6g9TMeXtZVZEmplJm+UkebxtfO7f4sy
		9Givaz9bQaT3Dx65GSv09DBkKu5fKQZ6eEhREBtUiN9lpMp+8uEH/YyLx5zu
		ElH5/ea+fvzuMVE1ksiQKC9kFlxvtcAuDgMF6f8XQA8ITchNTAbNMPi8OL5c
		qNirCnp419O8CIu/BmSOR0OOG2Rc95sZOneprRPhb0azNUTvzwODjALQ/Z55
		YCPDqGSeiGS5AQkU9iCh8FKwyMA7ngRmjpxO0uEzS6H/TEI/K7k1ent4+mMn
		xRRLsdUNdbtS1y0CIuinzGhG7bmBJKS6YZBX5+vNd45jbsGmJxIwf9jzUsmJ
		tfOae05N/G95k2kADN8jY8usn9JhVATSwK95ACJarwIs1+zstp9uoB6lr4J2
		6IY0Z6vNaVhFnqlJD0eWskecM7jI9OLYor8P6E7g+3IhSOFiNYDeHzx0QA+0
		ZHc9IKENDnpZbn0UPCNRIm8TEB7y3OJpRoHZLCw1PllaC84TLktCTfP9o/d2
		h4FZaKSZCWAcl5lEeV5m9wcjex7viFqYq2QGlr47d7/IwRLIofyZLIKPy+O4
		k/0C1dQjbihfJTC/BEhl2hzg2ID4Hxu03Gt7978vvivJnf+3qnFoVbY60+eh
		Rmvo1HnOZxpUg3eRojuwIZBG/N1kIrNR2bSzLYFX9EkVhQFsoqdKMHbuJipj
		gJXuDQV/MbTofDlN+0hAax9LdE4UW+V70DF6JAabm0NXD681FUU+wnCEf3/b
		CUJHe6zYxrdOLw1GDdJss+YvXur7D46ACtuHuBfJEOgrUaW057RPqrsxGHh3
		jeetHMWvknbE5698qpGNC+EVfqMtQZzuhqwGmGH/Z/YO4u8wrcGucL0IZD53
		qI/4DF5YqGmB17qBBcYwCOiYIiulAwG6BuqSAP9IBngQvQ21+mgyN04ayHLP
		8uGuK5Rfcs7EzMO5JHpLBbvIXkh02NtyrlSVlsm77uk2TlUyyQBIOCRS6kl0
		JOBk8ENMa8NBEyX1MwchPvjgLllE1KZ74sYKcaOT88gHJu94pGGvy57O9yOs
		HkyOYjaN5uihXkm3Scq2fOzOssdQ9JrbtQdCggg7FiilMnlqkyLf/b7Dy0/m
		GJQonIx6KQglTw23YvJo1FpPZPxvJw/BIxTEFVKvikJnNAm5l3RSiAl0c7wS
		N+/5yHLdHs1botMM/S8r+xCO3063Tj7kuRVbBiCRsMo9apPqYm0gcRVAgHkI
		87pUx8GW7S9VQS76nS4=
		</data>
		<key>iv</key>
		<data>
		1SmkxOkCeOC6GBZDgCxdwg==
		</data>
		<key>key</key>
		<data>
		toUIJnc5lGyTbkuoB5HS6+dqc0jz0vRdhCEv2gvRXY8=
		</data>
		<key>keyLength</key>
		<integer>256</integer>
		<key>plainText</key>
		<string>od but God!--to prayer--lo! God is great!'
LX.
Just at this season Ramazani's fast
Through the long day its penance did maintain.But when the lingering twilight hour was past,
Revel and feast assumed the rule again:
Now all was bustle, and the menial train
Prepared and spread the plenteous board within;
The vacant gallery now seemed made in vain,
But from the chambers came the mingling din,
As page and slave anon were passing out and in.
LXI.
Here woman's voice is never heard:  apart
And scarce permitted, guarded, veiled, to move,
She yields to one her person and her heart,
Tamed to her cage, nor feels a wish to rove;
For, not unhappy in her master's love,
And joyful in a mother's gentlest cares,
Blest cares! all other feelings far above!
Herself more sweetly rears the babe she bears,
Who never quits the breast, no meaner passion shares.
LXII.
In marble-paved pavilion, where a spring
Of living water from the centre rose,
Whose bubbling did a genial freshness fling,
And soft voluptuous couches breathed repose,
Ali reclined, a man of war and woes:
Yet in his lineaments ye cannot trace,
While Gentleness her milder radiance throws
A</string>
		<key>usePBKDF2</key>
		<true/>
		<key>usePadding</key>
		<true/>
	</dict>
	<key>pbkdf2</key>
	<dict>
		<key>ic</key>
		<integer>10300</integer>
		<key>md</key>
		<string>sha512</string>
		<key>password</key>
		<string>9oNd2GnOPlEGBdD8anpTj34eFKDH1xSGk4Jjdk8qldzN2A8MG</string>
		<key>salt</key>
		<data>
		PEP/eU9mVIECag==
		</data>
	</dict>
</dict>
</plist>
