<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aes</key>
	<dict>
		<key>cipherText</key>
		<data>
		1KR7ea1ZUSDqC+NNnNKWyzZHo3YirBaQ7uvglRIIK9da4zOu/I4PlBOQSOod
		mhBS3ggQ0FCxSkie6Gi+1ihFFvnHhf81z2PZuSVrHQutTFEhCI1FhnEzbOjl
		3C7YxPPrd5S5i4Dr0D6BQtgk941lRoqQHluN/nQh4iOqxh0TN1qEvrWcyKoX
		OCIfJo67gLODZyk+5gvUop8RirCzB6+mAbydwuToTPOtW94MN777deg2KAkM
		dFX3H+1R+bEw33YDTEHHiAV4CmotSd7Fr8QKMNDuoNqt4SDQk/mHCTSLtSDJ
		ulVj+2Y5dsVoJvgqXLLM64kTehX+k8KB3lwLdZu/K0Pb8GIfrHiYaKxuPmFi
		2coYWXrOwBDT8Mg5xvB39ZNVOmAhKWqeqYrXVXODYTS83nvVJ+HOhXfDbKQE
		7VkwZGCYjD0Npb8gF98YQv5HSSCpW+F+k103n3h8yiwSKZ3ZAFrxZq/dbKBL
		K+QkZxdhm4olUWJAD2QyEIC4Oedg3nMf9UwWpFGKEyvsfDknSItQhqnf0ZjU
		FjIdHZxIySF50rLpb0X9y7ZUsoLqE3ZdyGyYctjzgRfyuuLelb5fDfmQSEZf
		fNin+phEVniRIh3NCu9zN54zk1qNwRBpsgsdLryt0dsaI5Hv4fu8XitpDXKP
		3EFlw6Sm12K1mBy37aYHTeXuv7DsFoeQ/jm29BWgzW2grdEsft58Zo8BSmxz
		gf+JgnCJeaSsymtN1+UbAYrClAasupStSyRGWW3OcHqENEo+Gt9OKzCDm8pI
		Yq2Pc93EQ3HOH6UT99jyc881ECBcXzCmkq02B7l7mJPDM0tbTUbtilQY4fX7
		fRHnOso/xj44C8pn73oaDdDKtuph4ffDqEGyb/pbtidWtSJ/eyCBow7Ke67O
		25zHtIe0rQbPy3Cyk0emdiTkkP/OiRKuaKVpxiwzZBLteqWmc7UIBdbR8zqm
		qvkK9pD/YY1TFYWWs7BsoIhSp1529vXk2Kyv6v88XGCeHwJywT0Pjt8XfNkt
		lJ6Zu4onYDW66lB/PlQXaJUEWmh8d/TtArIBdilz72dYJHV/H40EhiRBELRx
		MrgTP6Dt6IBeBgsTF7nKG4+cfFqdZgGOUvYOdeKvMPr6eHoruBmnRjh6JVOB
		KJgIlYCGNW+3n8Fv+NpCnSWpurHiWxEtqcrPRymQpklpTqCckv++rxNeTUEi
		pLG7FUD0afFmy7iQByEfT5LSM8OaPoUU2iAFj/E0XUKQePP+x7kBBxuXtLK1
		7brgTId5pjEgAw1mQrJ5Qz3vb1Po+5+xNyTcxUFsElk+Xpqa3pI8WunXEjbG
		YbCTglN65VYiHnl8QOehXtCFYH7Bf8nkVQ4q7yQnT72KyTrvXOti0Odwvzo6
		Z+m2mnyuDwa6Qp/nyfjQXNYUyKLVrKtfzAxm3y6WOnsDPEgcizNLODRsj59+
		3DW0F/YtXsiFg9C6VXfgXoyH9yqY2USbbUzhoOSXJNgAmee6mMODsU65Pg3t
		+a+K3O9QOfDU7J1tikYRdcDQY20a63Fd+/fw31v/lD0oHywTqewPf/No6wjQ
		r1sKBxIo6mnbiXwRy3k=
		</data>
		<key>iv</key>
		<data>
		6jetfKrXMi/+hVW0aULRGQ==
		</data>
		<key>key</key>
		<data>
		1i1qMII82FjP5/gYE/Fzpg==
		</data>
		<key>keyLength</key>
		<integer>128</integer>
		<key>plainText</key>
		<string>, hither deigned to flee,
And fixed her shrine within these walls of white;
Though not to one dome circumscribeth she
Her worship, but, devoted to her rite,
A thousand altars rise, for ever blazing bright.
LXVII.
From morn till night, from night till startled morn
Peeps blushing on the revel's laughing crew,
The song is heard, the rosy garland worn;
Devices quaint, and frolics ever new,
Tread on each other's kibes.  A long adieu
He bids to sober joy that here sojourns:
Nought interrupts the riot, though in lieu
Of true devotion monkish incense burns,
And love and prayer unite, or rule the hour by turns.
LXVIII.
The sabbath comes, a day of blessed rest;
What hallows it upon this Christian shore?
Lo! it is sacred to a solemn feast:
Hark! heard you not the forest monarch's roar?
Crashing the lance, he snuffs the spouting gore
Of man and steed, o'erthrown beneath his horn:
The thronged arena shakes with shouts for more;
Yells the mad crowd o'er entrails freshly torn,
Nor shrinks the female eye, nor e'en affects to mourn.
LXIX.
The seventh day this; the jubilee of man.London! right well thou know'st the day of prayer:
Then thy spr</string>
		<key>usePBKDF2</key>
		<false/>
		<key>usePadding</key>
		<true/>
	</dict>
</dict>
</plist>
