<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<data>CwsLCwsLCwsLCwsLCwsLCwsLCws=</data>
		<key>Data</key>
		<data>SGkgVGhlcmU=</data>
		<key>HMAC-SHA-224</key>
		<data>iW+xEoq73xloMhB81J3zP0e0sRaZErpPU2hLIg==</data>
		<key>HMAC-SHA-256</key>
		<data>sDRMYdjbOFNcqK/OrwvxK4gdwgDJgz2nJuk3bC4yz/c=</data>
		<key>HMAC-SHA-384</key>
		<data>r9A5RNhIlWJrCCX0q0aQfxX52tvkEB7GgqoDTHzrxZz66p6pB27ef0rxUuiy+py2</data>
		<key>HMAC-SHA-512</key>
		<data>h6p83qXvYZ1P8LQkGh1ssCN59OLOTsJ4etCzBUXhfN7aqDO31rinAgOLJ06uo/Tkvp2RTuth8XAuaWwgOhJoVA==</data>
	</dict>
	<dict>
		<key>Key</key>
		<data>SmVmZQ==</data>
		<key>Data</key>
		<data>d2hhdCBkbyB5YSB3YW50IGZvciBub3RoaW5nPw==</data>
		<key>HMAC-SHA-224</key>
		<data>ow4BCYvG279FaQ86fp5tD4u+oqOeYUgAj9BeRA==</data>
		<key>HMAC-SHA-256</key>
		<data>W9zBRr9gdU5qBCQmCJV1x1oAPwidJzmDnexYuWTsOEM=</data>
		<key>HMAC-SHA-384</key>
		<data>r0XS43ZIQDFhf3jStYprG5x+9GT1oBtH5C7Dc2MiRF6OIkDKXmnix4syOez6shZJ</data>
		<key>HMAC-SHA-512</key>
		<data>Fkt6e/z4GeLjlfvnO1bgo4e9ZCIugx/WECcM1+olBVSXWL91wFqZSm0DT2X48Ob9yuqxo01Ka0tjbgcKOLznNw==</data>
	</dict>
	<dict>
		<key>Key</key>
		<data>qqqqqqqqqqqqqqqqqqqqqqqqqqo=</data>
		<key>Data</key>
		<data>3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d0=</data>
		<key>HMAC-SHA-224</key>
		<data>f7PLNYjGwfb/qWlNfWrSZJNlsMH2XWnR7IMz6g==</data>
		<key>HMAC-SHA-256</key>
		<data>dz6pHjaADkaFTbjr0JGBpylZCYs++MEi2WNVFM7VZf4=</data>
		<key>HMAC-SHA-384</key>
		<data>iAYmCNPmrYoKoqzgFMiobwqmNdlHrJ/r6D705VlmFEsqWrOdwTgUuU46tuEBo08n</data>
		<key>HMAC-SHA-512</key>
		<data>+nOwCJ1WooTvsPB1bIkL6bG1292O6Bo2Vfg+M7InnTm/PoSCeaciyAa0haR+Z8gHuUajN77olCZ0J4hZ4TKS+w==</data>
	</dict>
	<dict>
		<key>Key</key>
		<data>AQIDBAUGBwgJCgsMDQ4PEBESExQVFhcYGQ==</data>
		<key>Data</key>
		<data>zc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc0=</data>
		<key>HMAC-SHA-224</key>
		<data>bBFQaHQBPKxqKrwbs4JifOxqkNhu/AEt56/sWg==</data>
		<key>HMAC-SHA-256</key>
		<data>glWKOJpEPA6kzIGYmfIIOoXw+qPlePgHei4/9GcpZls=</data>
		<key>HMAC-SHA-384</key>
		<data>Poppt3g8JYUZM6tikK9sp3qZgUgIUACcxVd8bh9XO05oAd0jxKfWecz4o4bGdM/7</data>
		<key>HMAC-SHA-512</key>
		<data>sLpGVjdFjGmQ5ajF9h1K9+V22X/5S4ct52+AUDYe49upHKXBGqJetNZ5J1zFeIBjpfGXQRIMTy3irevrEKKY3Q==</data>
	</dict>
	<dict>
		<key>Key</key>
		<data>DAwMDAwMDAwMDAwMDAwMDAwMDAw=</data>
		<key>Data</key>
		<data>VGVzdCBXaXRoIFRydW5jYXRpb24=</data>
		<key>HMAC-SHA-224</key>
		<data>DirqaKkMjTfJiLzbn8pvqA==</data>
		<key>HMAC-SHA-256</key>
		<data>o7YWdHMQDuBuDHlsKVVVKw==</data>
		<key>HMAC-SHA-384</key>
		<data>Or80w1A7KiOkbvxhm674lw==</data>
		<key>HMAC-SHA-512</key>
		<data>QV+tYnFYClMdQXm8iR2Hpg==</data>
	</dict>
	<dict>
		<key>Key</key>
		<data>qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqo=</data>
		<key>Data</key>
		<data>VGVzdCBVc2luZyBMYXJnZXIgVGhhbiBCbG9jay1TaXplIEtleSAtIEhhc2ggS2V5IEZpcnN0</data>
		<key>HMAC-SHA-224</key>
		<data>lemg25Ygla2uvpstbw284tSZ8RLy0rcnP6aHDg==</data>
		<key>HMAC-SHA-256</key>
		<data>YOQxWR7gtn8Niiaqy/W3f44LxiE3KMUUBUYEDw7jf1Q=</data>
		<key>HMAC-SHA-384</key>
		<data>Ts4IRIWBPpCI0sY6BBvFtE+e8QEqK1iPPNEfBQM6xMYMLvarQDD+gpYkjfFj9ElS</data>
		<key>HMAC-SHA-512</key>
		<data>gLJCY8fBo+u3FJPB3XvotJtG0fQbSu7BEhsBN4P481JrVtA34F8lmL0P0iFdah5SleZPc/Y/CuyLkVqYXXhlmA==</data>
	</dict>
	<dict>
		<key>Key</key>
		<data>qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqo=</data>
		<key>Data</key>
		<data>VGhpcyBpcyBhIHRlc3QgdXNpbmcgYSBsYXJnZXIgdGhhbiBibG9jay1zaXplIGtleSBhbmQgYSBsYXJnZXIgdGhhbiBibG9jay1zaXplIGRhdGEuIFRoZSBrZXkgbmVlZHMgdG8gYmUgaGFzaGVkIGJlZm9yZSBiZWluZyB1c2VkIGJ5IHRoZSBITUFDIGFsZ29yaXRobS4=</data>
		<key>HMAC-SHA-224</key>
		<data>OoVBZqxdnwI/VNUX0LOdvZRncNucK5XJ9vVl0Q==</data>
		<key>HMAC-SHA-256</key>
		<data>mwn/pxuUL8snY1+81bDpRL/cY2RPBxOTin9RU1w6NeI=</data>
		<key>HMAC-SHA-384</key>
		<data>ZhcXjpQfAg01Hi8lTo/TLGAkIP6wuPua3M67gkYemcWmeMwx55kXbThg5hEMRlI+</data>
		<key>HMAC-SHA-512</key>
		<data>43tqd13Ifbqk36n5bl4//d69cfiGcomGXfWjLSDNyUS2AiysPEmCsQ1e61XD5N4VE0Z2+23gRGBlyXRA+oxqWA==</data>
	</dict>
</array>
</plist>
